[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rgl"]
	path = rgl
	url = https://github.com/dmurdoch/rgl
	shallow = true
	registered = true
