[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ellipse"]
	path = ellipse
	url = https://github.com/dmurdoch/ellipse
	shallow = true
	registered = true
[submodule "orientlib"]
	path = orientlib
	url = https://github.com/dmurdoch/orientlib
	shallow = true
	registered = true
[submodule "patchDVI"]
	path = patchDVI
	url = https://github.com/dmurdoch/patchdvi
	shallow = true
	subdir = pkg/patchDVI
	registered = true
[submodule "rgl"]
	path = rgl
	url = https://github.com/dmurdoch/rgl
	shallow = true
	registered = true
[submodule "rgl2gltf"]
	path = rgl2gltf
	url = https://github.com/dmurdoch/rgl2gltf
	shallow = true
	registered = true
[submodule "rglwidget"]
	path = rglwidget
	url = https://github.com/cran/rglwidget
	shallow = true
	registered = true
[submodule "RmdConcord"]
	path = RmdConcord
	url = https://github.com/dmurdoch/rmdconcord
	shallow = true
	registered = true
[submodule "tables"]
	path = tables
	url = https://github.com/dmurdoch/tables
	shallow = true
	subdir = pkg/tables
	registered = true
